.formheader{
    text-align: center;
    color: black;
    font-size: 35px;
}
.formcontent{
    padding: 10px;
  
}

ion-item{
    margin: 10px;
    --background:white;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
  }
  ion-content{
    --ion-background-color:#ff8c00;
  
   
}


ion-card-content{
    height: 65%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
;border-radius: 2px;
 box-shadow: 1px 1px 1px 0px #ffca8a;

border: 2px solid #ffca8a;
// background-color: green;

padding:15px;
margin-top: -2%;
}

p{
    color: black;
}

ion-button{
    --background:#ff8c00;
    height: 50px;
    font-size: 20px;
    font-weight: bold;text-transform:none;
}

ion-icon{
    color: #ff8c00;
    height: 25px;
    width: 50px;
    justify-content: center;padding: 2%;
}
ion-input{
    color:green
}
ion-label{
    font-size: 20px !important;
    color:yellow
}
.bottomtext{
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}
 
.cardimage{
    width: 150px;
    margin-bottom: -2%;
    margin-top: -5%;
 
}